body {
    font-family: 'Playwrite IS', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    font-weight: 700;
    color: #333;
    text-align: center;
    padding-top: 20px;
}

p {
    font-weight: 400;
    color: #555;
    text-align: center;
}

.curved-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; Ensure full height for centering */
}

.curved-box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.curved-box h2,
.curved-box p {
    margin: 5px 0;
}
